header {
  background: url('../../assets/img/new/headerBG.png') no-repeat top center;
  font-weight: bold;
  box-shadow: 0 0 13px 2px #dbdef4;
  position: relative;
}

select {
  border: none;
  background: none;
}

option {
  color: #333;
  // width: 118px;
  // height: 35px;
}

.center-wrap.top {
  justify-content: space-between;
}

.brad {
  line-height: 40px;
  font-size: 22px;
  color: #ffffff;
}

.user {
  // display: inline-flex;
  // height: 53px;
  height: 40px;
  justify-content: flex-end;
  font-size: 14px;

  letter-spacing: 1px;
  color: #fff;

  .lv {
    max-width: 194px;
    padding: 0 15px 0 0;
    color: #00ddff;
  }

  span.money {
    color: #ffff00;
  }

  .arrow {
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 3px 3px 0 3px;
    border-color: #ffff00 transparent transparent transparent;
    vertical-align: middle;
    position: relative;
    left: 9px;
  }

  & > li {
    position: relative;
    line-height: 40px;
    padding: 0 20px;
    border-right: solid 1px #fff7d2;

    &.inputBox {
      padding-right: 10px;
    }

    &.clickable:hover {
      background-color: #866748;
    }

    & > .forget {
      display: inline-block;
      width: 19px;
      height: 19px;
      vertical-align: middle;
      margin-bottom: 2px;
      background: url('../../assets/img/new/question.png') no-repeat;
    }

    .bubble {
      position: absolute;
      height: 18px;
      text-align: center;
      min-width: 18px;
      line-height: 15px;
      font-size: 12px;
      top: 3px;
      left: 37px;
      padding: 0 2px;
      border-radius: 9px;
      border: 1px solid #fff;
      color: #fff;
      background: #ed1c24;
    }

    &.member {
      .icon {
        width: 19px;
        height: 22px;
        background: url(/nt1_web/assets/img/member.svg) no-repeat;
      }
    }

    &.mail {
      .icon {
        width: 23px;
        height: 18px;
        background: url(/nt1_web/assets/img/letter.svg) no-repeat;
      }
    }

    &.logout {
      .icon {
        width: 22px;
        height: 22px;
        background: url(/nt1_web/assets/img/signout.svg) no-repeat;
      }
    }

    &.register {
      &.disabled {
        cursor: not-allowed;
      }

      .icon {
        width: 27px;
        height: 27px;
        position: relative;
        top: -2px;
        background: url(/nt1_web/assets/img/register.svg) no-repeat;
      }
    }

    // &:active,
    &.active {
      color: #000;
      @extend .g-1;
    }

    &:after {
      content: "";
      position: absolute;
      width: 1px;
      height: 40px;
      top: 0;
      right: 0;
      background: #a27a2f;
    }
  }
}

.login-form {
  align-items: center;

  .input-wrap {
    // outline: 1px solid pink;
    position: relative;

    i {
      position: absolute;
      width: 11px;
      height: 15px;
      top: 12px;
      left: 14px;
    }
  }

  input {
    font-size: 15px;
    width: 152px;
    height: 29px;
    padding: 0 5px 0 25px;
    margin: 0 4px;
    color: #333;
    border-radius: 3px;

    &::placeholder {
      color: #797979;
    }
  }

  .id {
    i {
      background: url('../../assets/img/new/inputIC.png') no-repeat;
    }
  }

  .pwd {
    input {
      padding: 0 22px 0 25px;
      margin-right: 10px;
    }

    .pwd {
      background: url('../../assets/img/new/inputIC.png') no-repeat;
      background-position-y: 100%;
    }
  }

  button {
    height: 28px;
    line-height: 28px;
    font-size: 15px;
    padding: 0 18px;
    // background: #e11515;
    // border: 1px solid #f56d5c;
    border-radius: 3px;
    background: linear-gradient(to top,#ddb78c 0%,#ffe1a8 30%,#fff8ba 50%,#f0d9a3 95%);
    border: solid 1px #f0e4ac;
    color: #301a12;

    &.signupBtn {
      background: linear-gradient(to top,#2a8a4b 0%,#6dd191 55%,#54a874 99%);
      color: #fff;
      margin-left: 8px;
      padding: 0px 9px 0px 8px;

      &:hover,&:active,&.active {
        background: linear-gradient(to bottom,#2a8a4b 0%,#6dd191 75%,#54a874 99%);
      }

      span {
        display: inline-block;
        width: 12px;
        height: 14px;
        background: url('../../assets/img/new/signupIC.png') no-repeat;
        margin-right: 4px;
        transform: translateY(1px);
      }
    }
                                                                                                                                                                                       

    &:hover,&:active,&.active {
      background: linear-gradient(to bottom,#ddb78c 0%,#ffe1a8 70%,#fff8ba 75%,#f0d9a3 95%);
    }
  }
}

.logo {
  width: 155px;
  height: 68px;
  background: url('../../assets/img/new/au8_logo_0420.png') no-repeat;
  background-size: 100%;
  margin-top: 12px;
}

.game-nav {
  height: 80px;
  font-size: 18px;
  color: #996c33;
  background: #fff;

  & > div {
    justify-content: space-between;
  }

  li {
    position: relative;
    line-height: 76px;
    padding: 0 27px;
    order: 10;
    letter-spacing: 1px;
    border-bottom: solid 4px transparent;

    @extend .clickable;

    &:last-child {
      padding: 0 10px 0 30px;
    }

    &:hover,&:active,&.active {
      border-color: #c7a16e;
      color: #dcb160;
    }

    &.home,
    &.sport {
      order: 1;
    }

    &.live {
      order: 2;
    }

    &.slot {
      order: 3;
    }

    &.lottery {
      order: 4;
    }

    &.board {
      order: 6;
    }

    &.fishing {
      order: 5;
    }
  }
}

.marquee-wrap {
  background: #fff;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.2);
  z-index: 1;
  // & > .center-wrap {
  //   cursor: pointer;
  // }
}

.overlay-game-menue-wrap {
  width: 100%;
  // height: 100vh;
  top: calc(40px + 81px);
  left: 0;
  // background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.overlay-game-menue {
  border-top: 1px solid #f3f3f3;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 170px;
  background: #fff;
  position: relative;
  top: -1px;
  // outline: 1px solid pink;

  ul {
    // justify-content: center;
    transition: transform 500ms ease 0s;
  }

  li {
    // min-width: 128px;
    // width: 220px;
    // height: 96px;
    position: relative;
    text-align: center;

    // outline: 1px solid pink;
    @extend .clickable;

    .gamePhoto {
      min-width: 220px;
      height: 96px;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  .container {
    width: 1320px;
    overflow: hidden;
  }
}

.games {
  display: flex;
  align-items: center;

  i {
    width: 15px;
    height: 30px;
    background: url(/nt1_web/assets/img/direction1.svg) no-repeat center center;

    &:nth-child(3) {
      transform: rotate(180deg);
    }

    @extend .clickable;
  }
}
