ul {
  height: 319px;
  padding: 15px 0;
  overflow: auto;
}

li {
  // outline: 1px solid pink;
  width: 215px;
  height: 95px;
  margin: 0 auto 10px;
  background-size: cover !important;
}

.no-data {
  text-align: center;
  line-height: 319px;
}
